
@font-face {
    font-family: 'icomoon';
    src:    url('fonts/icomoon.eot?savnfm');
    src:    url('fonts/icomoon.eot?savnfm#iefix') format('embedded-opentype'),
        url('fonts/icomoon.ttf?savnfm') format('truetype'),
        url('fonts/icomoon.woff?savnfm') format('woff'),
        url('fonts/icomoon.svg?savnfm#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: 'line-icon';
    src: url('fonts/Linearicons.eot');
    src: url('fonts/Linearicons.eot?#iefix') format('embedded-opentype'),
         url('fonts/Linearicons.ttf') format('truetype'),
         url('fonts/Linearicons.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
    font-family: 'AmnestyTradeGothic-BdCn20';
    src: url('fonts/AmnestyTradeGothicW01BdCnNo-20.eot');
    src: url('fonts/AmnestyTradeGothicW01BdCnNo-20.eot?#iefix') format('embedded-opentype'),
         url('fonts/AmnestyTradeGothicW01BdCnNo-20.woff') format('woff'),
         url('fonts/AmnestyTradeGothicW01BdCnNo-20.ttf')  format('truetype'),
         url('fonts/AmnestyTradeGothicW01BdCnNo-20.svg#svgFontName') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AmnestyTradeGothic-Cn18';
    src: url('fonts/AmnestyTradeGothicW01CnNo-18.eot');
    src: url('fonts/AmnestyTradeGothicW01CnNo-18.eot?#iefix') format('embedded-opentype'),
         url('fonts/AmnestyTradeGothicW01CnNo-18.woff') format('woff'),
         url('fonts/AmnestyTradeGothicW01CnNo-18.ttf')  format('truetype'),
         url('fonts/AmnestyTradeGothicW01CnNo-18.svg#svgFontName') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FrutigerLTArabic-77BlackCn';
    src: url('fonts/FrutigerLTW20-77BlackCn.eot');
    src: url('fonts/FrutigerLTW20-77BlackCn.eot?#iefix') format('embedded-opentype'),
         url('fonts/FrutigerLTW20-77BlackCn.woff') format('woff'),
         url('fonts/FrutigerLTW20-77BlackCn.ttf')  format('truetype'),
         url('fonts/FrutigerLTW20-77BlackCn.svg#svgFontName') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Oswald';
    src: url('fonts/Oswald-Regular.eot');
    src: url('fonts/Oswald-Regular.eot?#iefix') format('embedded-opentype'),
         url('fonts/Oswald-Regular.woff') format('woff'),
         url('fonts/Oswald-Regular.ttf')  format('truetype'),
         url('fonts/Oswald-Regular.svg#svgFontName') format('svg');
    font-weight: normal;
    font-style: normal;
}



$f-default: sans-serif;

$f-default--rtl: Tahoma, sans-serif;

$f-title: 'AmnestyTradeGothic-BdCn20', sans-serif;

$f-title--rtl: 'FrutigerLTArabic-77BlackCn', 'HelveticaNeue-CondensedBold', 'Franklin Gothic Medium', Tahoma, sans-serif;
