// @font-face {
//   font-family: 'FontAwesome';
//   src: url('fonts/fontawesome-webfont.eot?v=4.6.3');
//   src: url('fonts/fontawesome-webfont.eot?#iefix&v=4.6.3') format('embedded-opentype'), url('fonts/fontawesome-webfont.woff2?v=4.6.3') format('woff2'), url('fonts/fontawesome-webfont.woff?v=4.6.3') format('woff'), url('fonts/fontawesome-webfont.ttf?v=4.6.3') format('truetype'), url('fonts/fontawesome-webfont.svg?v=4.6.3#fontawesomeregular') format('svg');
//   font-weight: normal;
//   font-style: normal;
// }
//
// @font-face {
//   font-family: 'simple-line-icons';
//   src: url('fonts/Simple-Line-Icons.eot?v=2.3.2');
//   src: url('fonts/Simple-Line-Icons.eot?v=2.3.2#iefix') format('embedded-opentype'), url('fonts/Simple-Line-Icons.woff2?v=2.3.2') format('woff2'), url('fonts/Simple-Line-Icons.ttf?v=2.3.2') format('truetype'), url('fonts/Simple-Line-Icons.woff?v=2.3.2') format('woff'), url('fonts/Simple-Line-Icons.svg?v=2.3.2#simple-line-icons') format('svg');
//   font-weight: normal;
//   font-style: normal;
// }
@font-face {
    font-family: 'icomoon';
    src:    url('fonts/icomoon.eot?savnfm');
    src:    url('fonts/icomoon.eot?savnfm#iefix') format('embedded-opentype'),
        url('fonts/icomoon.ttf?savnfm') format('truetype'),
        url('fonts/icomoon.woff?savnfm') format('woff'),
        url('fonts/icomoon.svg?savnfm#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AmnestyTradeGothic-BdCn20';
    src: url('fonts/AmnestyTradeGothic-BdCn20.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AmnestyTradeGothic-Cn18';
    src: url('fonts/AmnestyTradeGothic-Cn18.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FrutigerLTArabic-77BlackCn';
    src: url('fonts/FrutigerLTArabic-77BlackCn.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Oswald';
    src: url('fonts/Oswald-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}



$f-default: sans-serif;

$f-default--rtl: Tahoma, sans-serif;

$f-title: 'AmnestyTradeGothic-BdCn20', sans-serif;

$f-title--rtl: 'FrutigerLTArabic-77BlackCn', 'HelveticaNeue-CondensedBold', 'Franklin Gothic Medium', Tahoma, sans-serif;
