@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin noselect {
    -webkit-touch-callout: none; // iOS Safari
    -webkit-user-select: none;   // Chrome/Safari/Opera
    -khtml-user-select: none;    // Konqueror
    -moz-user-select: none;      // Firefox
    -ms-user-select: none;       // Internet Explorer/Edge
    user-select: none;           // Non-prefixed version, currently
}

@mixin icon-menu {
    font-family: 'simple-line-icons';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    position: relative;
    font-size: 13px;
    //top: 1px;
    margin-right: 8px;
}

$header-height: 50px;


//


body {
    overflow: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Roboto', sans-serif;
    background-color: #666666;
}

#layer-cell,
#layer-labels,
#layer-gl {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    opacity: 0;
    @include noselect;
    transition: opacity 500ms ease-out;
}

#layer-cell{
    visibility: hidden;
}
.labels {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;

    .label {
        position: absolute;
        font-family: 'Oswald', sans-serif;
        text-transform: uppercase;
        white-space: nowrap;
        background-color: #333;
        color: white;
        padding: 5px 8px;
        // transition: background-color 500ms;
        // cursor: pointer;

        &:hover {
            //background-color: #e31d1a;
        }
    }
}

#layer-labels {
    //http://stackoverflow.com/questions/3680429/click-through-a-div-to-underlying-elements
    // pointer-events: none;
    // background: url('your_transparent.png');

    .label {
        position: absolute;
        opacity: 0.8;

        .line {
            position: absolute;
            height: 30px;
            width: 30px;
            bottom:0;
            left: 15px;
            border-left: 2px solid black;
            -moz-transform: skew(-40deg);
            -webkit-transform: skew(-40deg);
            transform: skew(-40deg);
        }
        .tag {
            position: absolute;
            bottom: 30px;
            left: 28px;
            font-size: 12px;
            background-color: #000;
            color: #fff;
            padding: 4px 8px;
            font-family: 'Oswald', sans-serif;
            text-transform: uppercase;
            white-space: nowrap;
            cursor: default;;
            transition: background-color 200ms ease-out;
        }

        &.selected {
            .tag {
                background-color: rgba(224,6,6, 1);
            }
            .line {
                border-color: rgb(255,0,0);
            }
        }

        &.over:not(.selected) {
            .tag {
                background-color: rgba(100,6,6, 1);
            }
            .line {
                border-color: rgb(100,6,6);
            }
        }
    }
}

#header {
    position: absolute;
    height: $header-height;
    width: 100%;
    background-color: black;
    position: absolute;
    top: -$header-height;
    transition: top 500ms ease-out;
    @include noselect;
}

.logos {
    height: 100%;
    display: inline-block;

    & > span {
        height: 100%;
        display: inline-block;
        background-size: auto 100%;
        background-repeat: no-repeat;
        cursor: pointer;
    }
    .ai {
        background-image: url('../assets/logo-amnesty-yellow.png');
        width: 118px;
    }
    .fa {
        background-image: url('../assets/logo-FA-red.jpg');
        width: 120px;
    }
}

#mainNav {
    float: right;
    color: #000;
    height: 100%;
    margin-right: 20px;
    @include clearfix;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;

    & > span {
        display: inline-block;
        height: 100%;
        line-height: $header-height;
        padding: 0 15px;
        cursor: pointer;
        transition: all 300ms ease-out;
        color: white;

        &:hover,
        &.active {
            background-color: #ccc;
            color: #000;
        }
    }
}

// This parent can be any width and height
.block {
    text-align: center;
    // May want to do this if there is risk the container may be narrower than the element inside
    white-space: nowrap;

    // The ghost, nudged to maintain perfect centering
    &:before {
        content: '';
        display: inline-block;
        height: 100%;
        vertical-align: middle;
        margin-right: -0.25em; // Adjusts for spacing
    }
}

// The element to be centered, can also be of any width and height
.centered {
    display: inline-block;
    vertical-align: middle;
}


#introMessage {
    position: absolute;
    width: 100%;
    height: 100%;
    font-size: 30px;
    font-family: 'Oswald', sans-serif;
    @include noselect;

    .message {
        margin: 0;
        padding: 10px 15px;
        background-color: white;
        text-transform: uppercase;
    }
}

#typed-strings {
    visibility: hidden;
}

#layer-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0;
    transition: opacity 500ms;
}

// #layer-nodes {
//   -webkit-transform: translate3d(0,0,0);
//   -moz-transform: translate3d(0,0,0);
//   -ms-transform: translate3d(0,0,0);
//   -o-transform: translate3d(0,0,0);
//   transform: translate3d(0,0,0);
// }

// buttons cellModel and video
.btn-next,
.btn-prev,
.btn-exit {
    position: absolute;
    right: 20px;
    color: white;
    //background-color: #000;
    padding: 14px;
    text-transform: uppercase;
    cursor: pointer;
    font-family: 'Oswald', sans-serif;
    border: 1px solid white;
    transition: background-color 500ms, color 500ms;

    &:hover {
        background-color: white;
        color: black;
    }
}

.btn-exit {
    top: 80px;
}

.btn-prev,
.btn-next {
    max-width: 150px;
    top: 50%;
    border: none;

    .text {

    }
}

.btn-prev {
    left: 20px;
    right: auto;
}

.btn-next {
    text-align: right;
}


//
// text navigation
//


#left-bar {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    margin-left: 30px;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    color: white;
    @include noselect;
}

#title {
    font-size: 38px;
    border-bottom: 1px solid #999;
    padding: 10px 0;
    margin-top: 65px;
}

#navigation {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-size: 12px;
    color: white;
    height: 100%;
    overflow: hidden;

    .menu-type {
        padding: 17px 0;
        border-bottom: 1px solid #999;

        span {
            display: inline-block;
            padding: 3px 7px;
            cursor: pointer;
            border: solid 1px #999;
            color: #999;

            &.selected {
                color: white;
                border: solid 1px white;
            }

            &:first-child {
                margin-right: 10px;
                margin-left: 3px;
            }
        }
    }

    .container {
        margin: 40px 0 0 0;
        overflow: hidden;
    }

    ul, li {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    ul.menu-witness,
    ul.menu-location {
        cursor: pointer;

        // first level li
        & > li {

            & > .folder {
                display: block;
                padding: 10px 13px;
                margin-bottom: 10px;
                background-color: rgba(0, 0, 0, 0.65);
                transition: background-color 200ms ease-out;

                .icon {
                    @include icon-menu;

                    &:before {
                        content: "\e095";
                    }
                }

                &:hover {
                    //background-color: rgba(0, 0, 0, 1);
                    background-color: rgba(100,6,6,0.65);
                }
            }

            &:last-child > .folder {
                margin-bottom: 0;
            }

            // second level ul
            & > ul {
                overflow: hidden;
                height: 0;
                transition: height 500ms;

                // second level li
                & > li {
                    display: block;
                    padding: 5px 10px;
                    margin: 0 7px 10px 7px;
                    background-color: rgba(153, 153, 153, 0.7);
                    transition: background-color 300ms ease-out;
                    // cursor: pointer;

                    &:hover {
                        background-color: rgba(153, 153, 153, 1);
                    }
                }
            }

            &.selected {
                .folder {
                    background-color: rgba(224,6,6,0.65);

                    .icon:before {
                        content: "\e615";
                    }
                }
            }

            &.over:not(.selected) {
                .folder {
                    background-color: rgba(100,6,6,0.65);
                }
            }
        }
    }

}


//
// stats and gui
//


.dg.ac {
    top: 60px !important;
}

#stats {
    top: 60px !important;
    left: 10px;
}
