@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin noselect {
    -webkit-touch-callout: none; // iOS Safari
    -webkit-user-select: none;   // Chrome/Safari/Opera
    -khtml-user-select: none;    // Konqueror
    -moz-user-select: none;      // Firefox
    -ms-user-select: none;       // Internet Explorer/Edge
    user-select: none;           // Non-prefixed version, currently
}

@mixin select {
    -webkit-touch-callout: auto; // iOS Safari
    -webkit-user-select: auto;   // Chrome/Safari/Opera
    -khtml-user-select: auto;    // Konqueror
    -moz-user-select: auto;      // Firefox
    -ms-user-select: auto;       // Internet Explorer/Edge
    user-select: auto;           // Non-prefixed version, currently
}

@mixin line-icon {
    font-family: 'line-icon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@mixin icomoon {
    /* use !important to prevent issues with browser extensions that change fonts */
   font-family: 'icomoon' !important;
   speak: none;
   font-style: normal;
   font-weight: normal;
   font-variant: normal;
   text-transform: none;
   line-height: 1;

   /* Better Font Rendering =========== */
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}

// .cross {
//     position: relative;
//     display: inline-block;
//     width: 55px;
//     height: 55px;
//     overflow: hidden;
//     background-color: rgba(0,0,0,0.7);
//     transition: background-color 300ms;
//     cursor: pointer;
//
//     &:hover {
//         background-color: rgba(255,255,255,1);
//         &::before,
//         &::after {
//             background: #000;
//         }
//     }
//
//     &::before,
//     &::after {
//         content: '';
//         position: absolute;
//         height: 3px;
//         width: 100%;
//         top: 50%;
//         left: 0;
//         margin-top: -1px;
//         background: #fff;
//         transition: background-color 300ms ease-out;
//     }
//     &::before {
//         transform: rotate(45deg) scale(0.7);
//     }
//     &::after {
//         transform: rotate(-45deg) scale(0.7);
//     }
// }

$browser-context: 16; // Default

@function em($pixels, $context: $browser-context) {
  @return #{$pixels/$context}em;
}

// ------------------------------------------
// common
// ------------------------------------------

$header-height: 50px;

$c-grey--darker: #262626;
$c-grey--dark: #363636;
$c-grey--mid: #B6B6B6;
$c-grey--light: #DADADA;
$c-yellow: #FF0;


body {
    // overflow: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    //background-color: #666666;
    background-color: #000;
    font-size: $browser-context;
    -webkit-tap-highlight-color: rgba(255,255,255,0);

    &[data-section="about"] {
        background-color: white;
    }
}

.crossButton {
    @include line-icon;
    position: absolute;
    background-color: rgba(0,0,0,0);
    transition: background-color 300ms;
    cursor: pointer;

    &:before {
        display: inline-block;
        content: '\e870';
        font-size: 25px;
        width: 30px;
        line-height: 30px;
        color: $c-grey--light;
        transition: color 300ms;
        text-align: center;
    }

    &:hover {
        background-color: $c-grey--light;

        &:before {
            color: #000;
        }
    }
}

#content {
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    // height: 100%; // dinamically set (see App.js)
}

.warning-browser,
.info-popup {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10000;
    background-color: rgba(0,0,0,0.3);
    text-align: center;
    // default is hidden
    display: none;
    opacity: 0;

    .box {
        position: relative;
        display: inline-block;
        box-sizing: border-box;
        padding: 35px 60px;
        border: 1px solid $c-grey--mid;
        background-color: rgba(0,0,0, 0.85);
        color: $c-grey--light;
        text-align: center;
        white-space: initial;
    }

    .info-en {
        font-family: $f-title;
        font-size: 16px;
    }

    .info-ar {
        margin-top: 25px;
        font-family: $f-title--rtl;
        font-size: 14px;
        direction: rtl;
    }

    p {
        margin: 5px 0;
        line-height: 1.2;
    }

    .btn-close {
        @extend .crossButton;
        top: 10px;
        right: 10px;
        height: 30px;
        width: 30px;
    }
}

.info-popup {
    .box {
        margin-top: -80px;
    }
}

.warning-browser {
    background-color: rgba(90,90,90,0.8);
    position: fixed;
    box-sizing: border-box;
    padding: 10px;
    z-index: 0;

    .box {
        background-color: #000;
        margin-left: 5px;
    }
}

// ------------------------------------------
// explore - common
// ------------------------------------------

#layer-prison,
#layer-360 {
    position: absolute;;
    width: 100%;
    height: 100%;
    overflow: hidden;
    @include noselect;
    background-color: black;
}

// ------------------------------------------
// explore - prison screen
// ------------------------------------------

#layer-prison {
    .gl,
    .labels {
        position: absolute;;
        width: 100%;
        height: 100%;
    }

    .labels {
        opacity: 0;
        transition: opacity 500ms ease-out;

        .label {
            position: absolute;
            opacity: 0.8;
            transform: scale(1,1);

            .line {
                position: absolute;
                height: 30px;
                width: 30px;
                bottom:0;
                left: 15px;
                border-left: 2px solid black;
                -moz-transform: skew(-40deg);
                -webkit-transform: skew(-40deg);
                transform: skew(-40deg);
            }
            .tag {
                position: absolute;
                bottom: 30px;
                left: 28px;
                font-size: 11px;
                background-color: #000;
                color: #fff;
                padding: 4px 8px;
                font-family: 'Oswald', sans-serif;
                text-transform: uppercase;
                white-space: nowrap;
                cursor: pointer;
                transition: background-color 200ms ease-out;
            }

            &.selected {
                .tag {
                    background-color: rgba(224,6,6, 1);
                }
                .line {
                    border-color: rgb(255,0,0);
                }
            }

            &.over:not(.selected) {
                .tag {
                    background-color: rgba(100,6,6, 1);
                }
                .line {
                    border-color: rgb(100,6,6);
                }
            }
        }
    }

    .title {
        position: absolute;
        left: 30px;
        top: 30px;
        font-family: $f-title;
        color: #ddd;
        cursor: default;
        opacity: 0;
        transition: opacity 300ms;

        > div {
            display: inline-block;
        }

        // title
        div:nth-child(1) {
            font-size: 44px;
            text-transform: uppercase;
            float: left;
        }

        // arabic
        div:nth-child(2) {
            float: left;
            font-size: 36px;
            color: #ddd;
            line-height: 46px;
            margin-left: 13px;
            font-family: $f-title--rtl;
        }

        // subtitle
        div:nth-child(3) {
            position: absolute;
            display: block;
            left: 0;
            top: 55px;
            font-size: 1.38em;
            font-family: 'AmnestyTradeGothic-Cn18', sans-serif;
            text-transform: uppercase;
            color: #aaa;
        }
    }

    .navigation {
        position: absolute;
        top: 135px;
        left: 30px;
        height: 100%;
        width: 265px;
        font-family: 'Oswald', sans-serif;
        text-transform: uppercase;
        font-size: 12px;
        color: white;
        overflow: hidden;
        opacity: 0;
        // z-index: 10000; // avoid oclussion by labels
        @include noselect;

        .menu-type {
            padding: 20px 0;
            border-bottom: 1px solid #999;

            span {
                display: inline-block;
                padding: 9px;
                cursor: pointer;
                border: solid 1px #999;
                color: #999;

                &.selected {
                    color: white;
                    border: solid 1px white;
                }

                &:first-child {
                    margin-right: 9px;
                    margin-left: 3px;
                }
            }
        }

        .container {
            margin: 20px 0 20px 0;
            overflow: hidden;
        }

        ul, li {
            list-style: none;
            padding: 0;
            margin: 0;
        }

        ul.menu-witness,
        ul.menu-location {
            cursor: pointer;

            // first level li
            & > li {

                & > .folder {
                    display: block;
                    padding: 12px 13px;
                    margin-bottom: 10px;
                    background-color: rgba(0, 0, 0, 0.65);
                    transition: background-color 200ms ease-out;

                    .icon {
                        display: inline-block;
                        margin-right: 8px;
                        width: 15px;
                        height: 15px;
                        line-height: 15px;
                        text-align: center;
                        font-family: 'Arial', 'Helvetica', sans-serif;
                        font-size: 15px;
                        @include icomoon;

                        &:before {
                            //content: '+';
                            content: '\e901';
                            top: 1px;
                            position: relative;
                        }
                    }

                    &:hover {
                        background-color: rgba(100,6,6,0.65);
                    }
                }

                &:last-child {
                    & > .folder {
                        margin-bottom: 0;
                    }

                    li:first-child {
                        margin-top: 10px;
                    }
                }

                // second level ul
                & > ul {
                    overflow: hidden;
                    height: 0;
                    transition: height 500ms;

                    // second level li
                    & > li {
                        display: block;
                        padding: 7px 10px;
                        margin: 0 7px 10px 7px;
                        background-color: rgba(128, 128, 128, 0.7);
                        transition: background-color 300ms ease-out;

                        &:hover {
                            background-color: rgba(153, 153, 153, 1);
                        }
                    }
                }

                &.selected {
                    .folder {
                        background-color: rgba(224,6,6,0.65);

                        .icon:before {
                            // content: '-';
                            content: '\e900';
                        }
                    }
                }

                &.over:not(.selected) {
                    .folder {
                        background-color: rgba(100,6,6,0.65);
                    }
                }
            }
        }

        .ar-watch-videos {
            border-top: 1px solid #999;
            padding-top: 20px;
            direction: rtl;
            font-family: $f-title--rtl;

            .folder {
                display: inline-block;
                padding: 0 20px;
                margin-bottom: 0;
                line-height: 33px;
                height: 35px;
                border: 1px solid #ccc;
                color: #ccc;
                font-size: 16px;
                transition:
                    background-color 200ms ease-out,
                    color 200ms ease-out,
                    border-color 200ms ease-out;
                cursor: pointer;

                &:hover {
                    color: black;
                    background-color: #ccc;
                    border-color: #ccc;
                }
            }
        }
    }
}

// ------------------------------------------
// explore - 360 screen
// ------------------------------------------

#layer-360 {
    visibility: hidden;
    opacity: 0;

    .gl,
    .labels {
        position: absolute;;
        width: 100%;
        height: 100%;
    }

    .labels {
        .label {
            position: absolute;

            .tag {
                padding: 5px 8px;
                font-family: 'Oswald', sans-serif;
                text-transform: uppercase;
                white-space: nowrap;
                background-color: rgba(0,0,0,0.8);
                color: white;
                cursor: pointer;
                transition: background-color 300ms;
                font-size: 13px;
            }

            &.over {
                .tag {
                    background-color: rgba(200,0,0,1);
                }
            }
        }
    }

    .btn-exit {
        @extend .crossButton;
        position: absolute;
        top: 30px;
        right: 20px;
        height: 55px;
        width: 55px;
        background-color: rgba(0,0,0,0.7);

        &:before {
            line-height: 55px;
            width: 55px;
            font-size: 42px;
        }
    }

    // .title-wrap,
    .title,
    .title-arabic {
        position: absolute;
        left: 30px;
        text-transform: uppercase;
        cursor: default;
        color: #000;
        background-color: rgba(255,255,255,0.8);
        transition: all 250ms ease-out;
        cursor: pointer;
        @include noselect;

        &:hover {
            color: #fff;
            background-color: rgba(0,0,0,0.8);
        }
    }

    .title {
        top: 30px;
        height: 45px;
        padding: 0 20px;
        line-height: 45px;
        font-size: 28px;
        font-family: $f-title;
    }

    .title-arabic {
        top: 81px;
        padding: 0 20px;
        height: 36px;
        line-height: 34px;
        font-size: 18px;
        font-family: $f-title--rtl;
    }

    .box-info-wrap {
        position: absolute;
        width: 100%;
        height: 100%;
        padding: 81px 90px 30px 30px;
        box-sizing: border-box;
        text-align: left;
        pointer-events: none;

        // default is hidden
        display: none;
        opacity: 0;
    }

    .box-info {
        position: relative;
        display: inline-block;
        height: 100%;
        max-width: 350px;
        overflow-y: hidden;
        background-color: rgba(0, 0, 0, 0.75);
        box-sizing: border-box;
        padding: 70px 30px 50px 30px;
        pointer-events: auto;
        /* border: 1px solid #666; */

        .btn-close {
            @extend .crossButton;
            position: absolute;
            top: 20px;
            right: 20px;
            height: 30px;
            width: 30px;
            background-color: rgba(0,0,0,0);
        }

        .content-wrap {
            overflow-y: auto;
            //padding-right: 25px;
            height: 100%;
            overflow-y: hidden;
        }

        .content {
            line-height: 1.3;
            color: #ccc;
            font-size: 14px;
            text-align: left;
            cursor: default;
            @include select;

            p:first-child {
                margin-top: 0;
            }

            p:last-child {
                font-size: 13px;
                padding-bottom: 20px;
            }

            .separator {
                content: " ";
                height: 1px;
                width: 40px;
                display: inline-block;
                background-color: #888;
                margin-bottom: 5px;
            }
        }

        &.ar {
            direction: rtl;
            font-family: $f-default--rtl;

            .language-switch {
                font-family: $f-title;
                font-size: 16px;
            }

            .content {
                text-align: right !important;
            }
        }

        &.en {
            direction: ltr;
            font-family: $f-default;

            .language-switch {
                font-family: $f-title--rtl;
                font-size: 18px;
            }
        }
    }

    .language-switch {
        position: absolute;
        left: 28px;
        top: 18px;
        padding: 2px 10px;
        line-height: 27px;
        color: #fff;
        font-size: 1.125em;
        cursor: pointer;
        font-family: $f-default--rtl;

        &:hover {
            color: #000;
            background-color: #fff;
            transition: color 300ms, background-color 300ms;
        }
    }

    .spinner-wrap {
        position: absolute;
        // width: 100%;
        // text-align: center;
        left: 50%;
        top: 50%;
        margin-left: -25px;
        margin-top: -25px;
        display: none;
    }
}

// ------------------------------------------
// full body video overlay
// ------------------------------------------

#layer-video {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 500ms;
    background-color: black;
    font-family: $f-title;
    overflow: hidden;

    // .controls {
    //     width: 100%;
    //     height: 100%;
    //     position: absolute;
    // }

    .player {
        position: absolute;
        width: 100%;
        height: 100%;
    }

    .info,
    .info-arabic {
        min-width: 200px;
        white-space: nowrap;

        & > * {
            display: inline-block;
        }

        .title {
            position: absolute;
            top: 0;

            & > span {
                display: inline-block;
                padding: 0 12px;
                line-height: 32px;
                height: 32px;
                text-transform: uppercase;
            }
        }

        .subtitle {
            position: absolute;
            top: 32px;
            margin-top: 3px;

            & > span {
                display: inline-block;
                padding: 0 12px;
                line-height: 24px;
                height: 24px;
            }
        }
    }

    .info {
        position: absolute;
        top: 30px;
        left: 30px;
        color: black;

        .title > *,
        .subtitle > * {
            background-color: rgba(255, 255, 255, 0.8);
        }

        .title {
            font-size: 24px;
            & > span {
                line-height: 33px;
            }
        }

        .subtitle {
            font-size: 14px;
        }
    }

    .info-arabic {
        position: absolute;
        top: 100px;
        left: 30px;
        font-family: $f-title--rtl;
        color: white;

        .title > *,
        .subtitle > * {
            background-color: rgba(0, 0, 0, 0.8);
        }

        .title {
            font-size: 16px;
        }

        .subtitle {
            font-size: 11px;
        }
    }

    .btn-next,
    .btn-prev,
    .btn-exit {
        position: absolute;
        text-transform: uppercase;
        cursor: pointer;
        color: white;
    }

    .btn-prev,
    .btn-next {
        max-width: 150px;
        top: 50%;
        margin-top: -30px;

        .arrow {
            @include icomoon;
            display: inline-block;
            padding: 12px 8px;
            font-size: 36px;
            background-color: rgba(0,0,0,0.8);
        }

        .label {
            position: absolute;
            top: 0;
            width: 150px;
            padding: 10px 15px;
            opacity: 0;
            pointer-events: none;
            min-height: 40px;
            line-height: 1.2;
            background-color: rgba(255,255,255,0.8);
            color: black;
        }

        .arrow,
        .label {
            transition: background-color 300ms, opacity 300ms, color 300ms;
            // background-color: rgba(0,0,0,0.8);
        }

        // needs to be handled through js to avoid unwanted
        // behaviour on touch devices
        // &:hover {
        //     .label,
        //     .arrow {
        //         opacity: 1;
        //         background-color: rgba(255,255,255,0.8);
        //         color: black;
        //     }
        // }
    }

    .btn-prev {
        left: 20px;
        right: auto;

        .arrow:before {
            content: "\e603";
        }

        .label {
            left: 60px;
        }
    }

    .btn-next {
        right: 20px;
        text-align: right;

        .arrow:before {
            content: "\e604";
        }

        .label {
            right: 60px;
        }
    }

    .btn-exit {
        @extend .crossButton;
        position: absolute;
        top: 30px;
        right: 20px;
        height: 55px;
        width: 55px;
        background-color: rgba(0,0,0,0.7);

        &:before {
            line-height: 55px;
            width: 55px;
            font-size: 42px;
            color: #fff;
        }
    }

    .bottom-bar {
        position: absolute;
        width: 100%;
        bottom: 50px; //30px;
        box-sizing: border-box;
        transition: bottom 500ms;
        pointer-events: none;

        & > * {
            display: inline-block;
            pointer-events: auto;
        }

        .takeAction {
            position: absolute;
            left: 30px;
            bottom: 0;
            border: 1px solid $c-grey--mid;
            z-index: 1;

            &:hover {
                border-color: $c-yellow;
                background-color: $c-yellow;
                color: #000;
            }
        }

        .share-social {
            position: absolute;
            right: 30px;
            bottom: 0;
            line-height: 28px;
            height: 30px;
            vertical-align: baseline;
        }
    }

    .inactive {
      visibility: hidden;
      opacity: 0;
      transition: visibility 0s linear 1000ms, opacity 1000ms;
    }

    .active {
      visibility: visible;
      opacity: 1;
      transition: visibility 0s linear 0s, opacity 1000ms;
    }

    .spinner-wrap {
        position: absolute;
        // width: 100%;
        // text-align: center;
        top: 50%;
        left: 50%;
        margin-left: -24px;
        margin-top: -25px;
        display: none;
    }

    .takeAction {
        line-height: 38px;
        height: 40px;
        box-sizing: border-box;
        float: left;
        color: $c-grey--mid;
        background-color: rgba(0,0,0,0.8);
        padding: 0 15px;
        background-color: rgba(0,0,0,0.8);
        border: 1px solid $c-grey--mid;

        &.big {
            position: absolute;
            line-height: 62px;
            height: 60px;
            padding: 0 25px;
            top: 50%;
            left: 50%;
            margin-left: -102px;
            margin-top: -30px;
            border: none;
            background-color: #ff0;
            color: #000;

            visibility: hidden;

            &:hover {
                background-color: #ffd500;
            }
        }
    }

    .touch-overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        display: none;
    }
}

// style for mobile

// body.mobile #layer-video {
//     .btn-next,
//     .btn-prev {
//         &:hover {
//             .label,
//             .arrow {
//                 opacity: 1;
//                 background-color: inherit;
//                 color: inherit;
//             }
//         }
//     }
// }

// ------------------------------------------
// top bar
// ------------------------------------------

#header {
    position: fixed;
    height: $header-height;
    width: 100%;
    // top: -$header-height;
    background-color: black;
    transition: top 500ms ease-out;
    font-family: $f-title;
    text-transform: uppercase;
    font-size: 16px;
    @include noselect;

    .logos {
        height: 100%;
        display: inline-block;

        & > a {
            height: 100%;
            display: inline-block;
            background-size: auto 100%;
            background-repeat: no-repeat;
            cursor: pointer;
        }
        .ai {
            background-image: url('../assets/logo-amnesty-yellow.png');
            width: 118px;
        }
        .fa {
            background-image: url('../assets/logo-FA-red.jpg');
            width: 100px;
        }
    }

    .menuItem {
        display: inline-block;
        float: right;
        // margin-right: 1px;
        padding: 0 15px;
        border-right: 1px solid #666;
        cursor: pointer;
        text-decoration: none;
        transition: background-color 300ms ease-out, color 300ms ease-out;
        @include clearfix;

        > span:nth-child(2){
            margin-left: 5px;
            // font-size: 14px;
            font-family: $f-default--rtl;
        }

        &:last-child {
            border-left: 1px solid #666;
        }
    }

    .mainNav-menu {
        position: absolute;
        top: 0;
        right: 215px;
        .menuItem {
            height: 100%;
            line-height: $header-height;
            color: #fff;

            &.active,
            &:hover {
                background-color: $c-grey--light;
                color: #000;
            }
        }
    }

    .takeAction {
        box-sizing: border-box;
        position: absolute;
        top: 9px;
        right: 16px;
        line-height: 30px;
        padding: 0 12px;
        border: 1px solid #666;
        color: #fff;
        background-color: #000;

        &:hover {
            color: #000;
            background-color: $c-yellow;
            border-color: $c-yellow;
        }
    }

    .subNav-menu {
        position: absolute;
        top: $header-height;
        left: 0;
        width: 100%;
        background-color: $c-grey--light;
        color: #000;
        cursor: default;
        padding-right: 20px;
        box-sizing: border-box;

        .menuItem {
            display: inline-block;
            float: right;
            line-height: 50px;
            height: 50px;
            cursor: pointer;
            color: #000;
            border-color: $c-grey--mid;

            &.active,
            &:hover {
                background-color: #b6b6b6; //#ff0;
            }
        }
    }

    // about submenu show/hide
    // .mainNav-menu [data-target="about"]{
    //     .subNav-menu {
    //         display: none;
    //     }
    //
    //     &.active,
    //     &:hover {
    //         .subNav-menu {
    //             display: block;
    //         }
    //     }
    // }
}

.takeAction {
    transition: border-color 300ms ease-out, background-color 300ms ease-out, color 300ms ease-out;
    cursor: pointer;
    font-size: 16px;
    text-transform: uppercase;

    > span:nth-child(2){
        margin-left: 5px;
        font-family: $f-default--rtl;
    }
}

// ------------------------------------------
// footer
// ------------------------------------------

#footer-desktop {
    position: absolute;
    right: 30px;
    bottom: 30px;
}

.share-social {
    color: white;
    font-family: 'AmnestyTradeGothic-BdCn20', sans-serif;
    text-transform: uppercase;
    @include noselect;

    & > * {
        color: #ccc;
        text-decoration: none;
    }

    .label {
        &:after {
            content: "";
            border-right: 1px solid #999;
            margin: 0 10px 0 10px;
        }
    }

    .facebook {
        @include icomoon;
        &:before {
            content: "\e90a";
        }
        margin-right: 10px;
        top: 3px;
    }

    .twitter {
        @include icomoon;
        &:before {
            content: "\e60a";
        }
        top: 3px;
    }

    .facebook,
    .twitter {
        position: relative;
        font-size: 20px;
        cursor: pointer;
        &:hover{
            color: white;
        }
    }
}

// ------------------------------------------
// intro / preload
// ------------------------------------------

// This parent can be any width and height
.block {
    text-align: center;
    // May want to do this if there is risk the container may be narrower than the element inside
    white-space: nowrap;

    // The ghost, nudged to maintain perfect centering
    &:before {
        content: '';
        display: inline-block;
        height: 100%;
        vertical-align: middle;
        margin-right: -0.25em; // Adjusts for spacing
    }
}

// The element to be centered, can also be of any width and height
.centered {
    display: inline-block;
    vertical-align: middle;
}

#layer-intro {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: opacity 300ms;
    //background-color: $c-grey--light; // set in StatePreload
    overflow: hidden;

    .btn-skip {
        position: absolute;
        display: inline-block;
        left: 20px;
        top: 20px;
        text-transform: uppercase;
        background-color: rgba(0,0,0,1);
        color: #fff;
        padding: 10px 15px;
        font-family: $f-title;
        cursor: pointer;
        visibility: hidden;
        z-index: 1;
        transition:
            background-color 300ms,
            color 300ms;

        > span:nth-child(2) {
            font-family: $f-default--rtl;
        }

        &:hover {
            background-color: rgba(255,255,255,1);
            color: #000;
        }
    }

    .intro-logos {
        position: absolute;
        height: 45px;
        display: inline-block;
        top: 20px;
        left: 20px;
        z-index: 1;
        visibility: hidden;
        opacity: 0;

        & > span {
            height: 100%;
            display: inline-block;
            background-size: auto 100%;
            background-repeat: no-repeat;
            cursor: pointer;
        }
        .ai {
            background-image: url('../assets/logo-amnesty-yellow.png');
            width: 106px;
        }
        .fa {
            background-image: url('../assets/logo-FA-red.jpg');
            width: 90px;
        }
    }

    .gl {
        display: inline-block;
        position: absolute;
        width: 800px;
        height: 800px;
        top: 50%;
        left: 50%;
        margin-left: -400px;
        margin-top: -450px;
        // background-color: $c-grey--light;
    }
}

#introMessage {
    position: absolute;
    width: 100%;
    height: 100%;
    font-size: 30px;
    @include noselect;
    font-family: $f-default;
    text-align: center;
    // background-color: $c-grey--light;

    .centered {
        opacity: 0;
        z-index: 1;
    }

    .centered > * {
        //transition: height 500ms, opacity 1500ms;
        overflow: hidden;
        display: block;

        &.hidden {
            height: 0;
            opacity: 0;
        }
    }

    .intro-title,
    .intro-subtitle {
        span {
            display: inline-block;
            background-color: #000;
            color: white;
            padding: 0 20px;
            margin: 0;
            font-family: $f-title;
            text-transform: uppercase;
        }
    }

    .intro-title {
        line-height: 80px;
        height: 90px;   // = 10px margin-bottom
        font-size: 49px;

        span:nth-child(2) {
            margin-left: 10px;
            font-family: $f-title--rtl;
            font-size: 45px;
        }
    }

    .intro-subtitle {
        line-height: 50px;
        height: 80px;   // = 20px margin-bottom
        font-size: 28px;

        span {
            background-color: #fff;
            color: #000;
        }
    }

    .intro-language {
        font-size: 14px;
        line-height: 24px;
        height: 50px;

        .ar {
            font-family: $f-default--rtl;
        }
    }

    .intro-spinner {
        margin-top: 30px;
        height: 50px;
    }

    .intro-nextAction {
        // height: 150px;
        height: 0;
        opacity: 0;

        & > * {
            display: inline-block;
            width: 140px;
            // height: 100px;
            padding: 40px 0;
            font-size: 18px;
            border: 1px solid #000;
            background-color: rgba(218, 218, 218, 0.6);
            margin: 0 10px;
            transition: color 300ms, background-color 300ms;
            cursor: pointer;

            &:hover {
                color: white;
                background-color: #000;
            }

            & > * {
                display: block;
                line-height: 1;
                text-transform: uppercase;

                &:nth-child(1) {
                    font-family: $f-title;
                    margin-bottom: 5px;
                }

                &:nth-child(2) {
                    font-family: $f-default--rtl;
                }
            }
        }
    }
}

//
// Spinner
//

.spinner {
    display: inline-block;
    height: 28px;
    width: 28px;
    animation: rotate 1.0s infinite linear;
    border: 8px solid #fff;
    border-right-color: transparent;
    border-radius: 50%;

    @keyframes rotate {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
    }
}

//
// Intro video
//

.video-container {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    // opacity: 0;
    transition: opacity 500ms;
    background-color: black;
    font-family: $f-title;
    overflow: hidden;

    .player {
        // position: absolute;
        width: 100%;
        height: 100%;
    }
}



// ------------------------------------------
// slider
// ------------------------------------------

.control-wrap {
    position: absolute;
    top: 87px;
    right: 30px;
    overflow: hidden;
    z-index: 10000; // avoid oclussion by labels
}

.control {
    .label {
        color: #ccc;
        font-family: 'Oswald', sans-serif;
        text-transform: uppercase;
        font-size: 12px;
        float: left;
        padding: 0 12px;
        line-height: 34px;
        height: 35px;
        box-sizing: border-box;
        border: 1px solid #999;
        border-right: none;
        @include noselect;
        cursor: default;
    }

    .slider {
        float: left;
        position: relative;
        width: 220px;
        height: 35px;
        padding: 10px 30px;
        box-sizing: border-box;
        border: 1px solid #ccc;
        cursor: ew-resize;

        &:before,
        &:after {
            display: inline-block;
            position: absolute;
            color: #ccc;
            font-size: 16px;
            @include icomoon;
        }

        &:before {
            content: '\e900';
            left: 7px;
            top: 9px;
        }

        &:after {
            content: '\e901';
            right: 7px;
            top: 9px;
        }

        .guide {
            position: absolute;
            top: 16px;
            width: 158px;
            border-top: 1px solid #ccc;
            box-sizing: border-box;
        }

        .bar {
            position: relative;
            top: 0px;
            left: 0px;
            height: 100%;
            background-color: #ccc;
            transition: background-color 300ms;
        }
    }

    &:hover {
        .bar {
            background-color: white;
        }
    }

}

// ------------------------------------------
// stats
// ------------------------------------------

#stats {
    top: 60px !important;
    left: 10px;
}
